/* Header */
.header {
  width: 100%;
  height: 8rem;
  background-color: var(--grey-9);
  box-shadow: 0 12px 16px -4px rgba(33, 37, 41, 0.08);
  margin-bottom: 1.6rem;
}

.header-wrapper {
  max-width: var(--container-width);
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'left center center right';
  align-items: center;
}

.header-left {
  grid-area: left;
}

.header-left__logo {
  margin-left: 1.2rem;
  display: inline-block;
}

.header-center {
  grid-area: center;
}

/* Header Mobile */
.header-mobile-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 1.6rem;
  display: none;
  grid-gap: 1.6rem;
  grid-template-columns: 2.4rem auto 1fr 2.4rem 2.4rem;
  align-items: center;
}

.header-mobile-nav {
  display: none;
  position: fixed;
  height: calc(100% - 8rem);
  width: 100%;
  background-color: var(--grey-10);
  top: 8rem;
  bottom: 0;
  z-index: 10;
  overflow: auto;
}

@media (max-width: 768px) {
  .header-wrapper {
    display: none;
  }

  .header-mobile-wrapper {
    display: grid;
  }

  .header-mobile-nav {
    display: block;
  }
}
