/* App */
html {
  background-color: var(--grey-10);
}

.app-container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding-bottom: 1.6rem;
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'side-nav main main main';
}

.main-area {
  grid-area: main;
}

.side-nav-area {
  grid-area: side-nav;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-areas: 'main main main main';
    padding: 0 1.6rem 1.6rem 1.6rem;
  }

  .side-nav-area {
    display: none;
  }
}

/* Helpers */
.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}
