/* Aside List */
.aside-list {
  width: 100%;
  padding: 1.6rem;
  border-radius: 0.4rem;
  display: grid;
  grid-gap: 1.6rem;
  box-shadow: var(--shadow-1);
  background-color: var(--grey-1);
}

.aside-list__item {
  display: grid;
  grid-template-columns: 1fr 2.4rem;
  align-items: center;
  line-height: 1.6rem;
}
