/* Input */
.input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--grey-5);
  padding: 0 0.8rem;
  color: var(--dark-primary);
  font-family: "Open Sans";
  font-size: 1.4rem;
  line-height: 3rem;
  caret-color: var(--blue-fill);
  outline: 0;
}

.input::placeholder {
  color: var(--dark-secondary);
}

.input:focus {
  border-color: var(--blue-fill);
}

.input--light {
  color: var(--grey-6);
  border-color: var(--grey-8);
  background-color: var(--grey-9);
  caret-color: var(--orange-fill);
}

.input--light::placeholder {
  color: var(--grey-8);
}

.input--light:focus {
  border-color: var(--orange-fill);
}

.input:disabled,
.input--disabled {
  cursor: not-allowed;
  border-color: var(--grey-3);
  background-color: var(--grey-2);
  color: var(--dark-disabled);
}

.input--disabled::placeholder {
  color: var(--dark-disabled);
  opacity: 1;
}

.input--has-error,
.input--has-error:focus {
  border-color: var(--red-fill);
  caret-color: var(--red-fill);
}

/* Input Label */
.input-label {
  display: flex;
  flex-direction: column-reverse;
}

.input-label__label {
  line-height: 1.8rem;
}

.input:focus + .input-label__label {
  color: var(--dark-primary);
}

/* Input Search */
.input-search {
  width: 100%;
  background-color: var(--grey-2);
  border-radius: 2rem;
  color: var(--dark-primary);
  font-family: "Open Sans";
  font-size: 1.4rem;
  line-height: 3.8rem;
  padding: 0 1.6rem;
  outline: 0;
}

.input-search::placeholder {
  color: var(--dark-disabled);
}

.input-search__aluno {
  background-color: var(--grey-10);
  color: var(--light-primary);
}

.input-search__aluno::placeholder {
  color: var(--light-disabled);
}

/* Resets do <select> */
select {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 22px 3px 3px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#dee2e6' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 3px) 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
   display: none;
}
