/* Form Aluno */
.form-aluno-wrapper {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--grey-1);
  box-shadow: var(--shadow-1);
  border-radius: 0.4rem;
}

.form-aluno {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: 33.6rem 1fr;
}

.form-aluno__title {
  margin-bottom: 1.6rem;
}

.form-aluno__fieldset {
  padding: 1.6rem;
  border: 1px solid var(--grey-5);
  border-radius: 0.4rem;
}

/* Dados pessoais */
.form-aluno__dados-pessoais__inputs {
  display: grid;
  grid-gap: 0.8rem;
}

.form-aluno__dados-pessoais__inputs-split {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
}

.form-aluno__dados-pessoais__imagem {
  background-color: var(--grey-5);
  background-image: var(--image-url);
  background-size: cover;
  border-radius: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
}

/* Dados escolares */
.form-aluno__dados-escolares__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.6rem;
}

/* Footer */
.form-aluno__footer {
  grid-column: -1 / 1;
  justify-self: end;
}

@media (max-width: 768px) {
  .form-aluno {
    grid-template-columns: 1fr;
  }
}
