/* Main */
.main {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.perfil-area {
  background-color: red;
  grid-column: 1 / -1;
}

.feed-area {
  grid-column: span 2;
}
