/* Chat */
.chat {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border-radius: 4px;
  background-color: var(--grey-9);
  overflow: hidden;
}

/* Chat Header */
.chat__header {
  position: relative;
  z-index: 1;
  background-color: var(--grey-9);
  padding: 1.6rem;
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: 56px 1fr auto;
  align-items: center;
  box-shadow: var(--shadow-2);
}

.chat__header__fill {
  height: 56px;
  background-color: var(--fill);
  border-radius: 16px;
}

.chat__header__center {
  line-height: 2rem;
}

.chat__header__right {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.6rem;
}

/* Chat Body */
.chat__body {
  padding: 16.8rem 1.6rem 1.6rem 1.6rem;
  overflow: auto;
  display: grid;
  grid-gap: 1.6rem;
  height: 100%;
  position: absolute;
  bottom: 64px;
}

/* Chat Footer */
.chat__footer {
  padding: 1.6rem;
  box-shadow: 0 -4px 8px -4px rgba(33,37,41,0.12), 0 -8px 12px -4px rgba(33,37,41,0.12);
  background-color: var(--grey-9);
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
