/* Canais */
.aside-canais {
  padding: 1.6rem;
  background-color: var(--grey-9);
  border-radius: 4px;
  display: grid;
  grid-gap: 1.6rem;
}

.aside-canais__list {
  display: grid;
  grid-gap: 1.6rem;
}

.aside-canais__canal {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 32px 160px auto;
  align-items: center;
  justify-items: center;
}

.aside-canais__canal__fill {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  background-color: var(--fill);
}

.aside-canais__canal__descricao > p {
  line-height: 1.6rem;
  max-width: 16rem;
}
