/* Side Nav Item */
.side-nav-item {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-auto-rows: 4.8rem;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
}

.side-nav-item__icon {
  display: grid;
  justify-self: center;
}

.side-nav-item__title__info {
  margin-left: 0.8rem;
}

/* Professor */
.side-nav-item:hover {
  background-color: var(--grey-3);
}

.side-nav-item--active > .side-nav-item__title {
  color: var(--dark-primary);
}

/* Aluno */
.side-nav-item__aluno:hover {
  background-color: var(--grey-9);
}

.side-nav-item__aluno--active > .side-nav-item__aluno__title {
  color: var(--light-primary);
}

.side-nav-item__aluno .side-nav-item__title {
  color: var(--light-secondary);
}

.side-nav-item__aluno .side-nav-item__title__info {
  color: var(--light-disabled);
}
